.pakku-foolbar {
    width: 100%;
    display: flex;
    line-height: 20px;
}
.pakku-foolbar * {
    font-family: 'Consolas', 'Courier', monospace !important;
}
.pakku-foolbar>.pakku-foolbar-prompt {
    flex: 0 0 250px;
    text-align: right;
}
.pakku-foolbar>input {
    flex: 1 1 0;
    -webkit-appearance: textfield; /* fix for bangumi page */
}
.pakku-foolbar>.pakku-foolbar-prompt::after {
    margin-right: 1em;
    content: ' select * from danmaku where';
    color: darkblue;
    font-style: italic;
}
button.pakku-button:hover {
    background: #eee;
}
button.pakku-button:active {
    background: darkblue;
    color: white;
}
button.pakku-button {
    background: #ddd;
    border-width: 0;
    font-weight: inherit;
    padding: 0 0.3em;
}
button.pakku-button:not([disabled]) {
    cursor: pointer;
}
button.pakku-button[disabled] {
    background: lightgreen;
}
