.pakku-panel {
    background-color: rgba(221,221,221,.8);
    color: black;
    width: 300px;
    position: absolute;
    z-index: 10000;
    top: 50px;
    right: 0;
    box-shadow: 0 0 20px black;
}
.pakku-floating .pakku-panel {
    right: -20px;
    filter: brightness(.9);
    pointer-events: none;
}
.pakku-panel .pakku-panel-title {
    overflow-x: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    margin: 3px 0;
}
.pakku-panel .pakku-panel-close {
    font: inherit !important; /* fix for bangumi page */
    line-height: 1em !important;
    color: black !important;
    background-color: transparent !important;
    border-radius: 0 !important;
    border: none !important;
    padding: 3px 5px !important;
    cursor: pointer !important;
}
.pakku-panel .pakku-panel-selectbar {
    text-align: center;
    margin: 3px 0;
}
.pakku-panel .pakku-panel-selectbar-left, .pakku-panel-selectbar-right {
    padding: 0 25px;
    cursor: pointer;
}
.pakku-panel .pakku-panel-selectbar-left {
    float: left;
}
.pakku-panel .pakku-panel-selectbar-left::after {
    content: '<<';
}
.pakku-panel .pakku-panel-selectbar-right {
    float: right;
}
.pakku-panel .pakku-panel-selectbar-right::after {
    content: '>>';
}
.pakku-panel .pakku-panel-desc:not(:empty) {
    line-height: 1.2em;
    margin: 3px 5px;
    white-space: initial;
}
.pakku-panel .pakku-panel-peers {
    max-height: 350px;
    overflow-y: auto;
}
.pakku-panel .pakku-panel-footer:not(:empty) {
    overflow: hidden;
    margin: 3px 5px;
}
.pakku-panel * {
    user-select: text !important; /* to override ".bilibili-player *" */
    font-family: Consolas, Courier, '微软雅黑', 'Microsoft Yahei', '宋体', monospace !important;
}
.pakku-panel a {
    color: black;
    border-bottom: 1px solid black;
}
.pakku-panel hr {
    margin: 0;
}
.bilibili-player .pakku-panel button {
    background: unset;
    border: unset;
    cursor: unset;
    padding: unset;
    outline: unset;
    color: unset;
    text-align: unset;
    font: unset;
    line-height: unset;
    width: unset;
}
.pakku-panel .text-fix {
    overflow-x: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.pakku-panel .pakku-panel-footer a {
    display: inline-block;
    color: initial !important;
}
.pakku-panel .pakku-panel-desc:empty~hr.pakku-for-desc {
    display: none;
}
.pakku-panel .pakku-panel-footer:empty~hr.pakku-for-footer {
    display: none;
}
.pakku-panel .pakku-panel-peers div {
    overflow: hidden;
}
.pakku-panel .pakku-panel-peers p:nth-child(1) {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pakku-panel .pakku-panel-peers p:nth-child(2) {
    display: none;
    font-weight: normal;
}
.pakku-panel .pakku-panel-peers div:hover p:nth-child(1) {
    white-space: initial;
    word-wrap: break-word;
    word-break: break-all;
}
.pakku-panel .pakku-panel-peers div:hover p:nth-child(2) {
    display: initial;
}
.pakku-panel .pakku-panel-peers div.black {
    background-color: rgba(42,42,42,.8);
}
.pakku-panel .pakku-panel-peers div.white {
    background-color: rgba(231,231,231,.8);
}
.pakku-panel .pakku-panel-peers div.black:hover {
    background-color: rgba(0,0,0,1);
}
.pakku-panel .pakku-panel-peers div.white:hover {
    background-color: rgba(255,255,255,1);
}
.pakku-panel .pakku-panel-peers div {
    padding: .1em 0;
}
.pakku-panel .pakku-panel-peers div:hover {
    padding: .3em 0;
}

/* event fix */

.__pakku_pointer_event div.bilibili-player-video-danmaku,
.__pakku_pointer_event div.bilibili-danmaku,
.__pakku_pointer_event div.b-danmaku {
    pointer-events: initial !important;
}
.__pakku_pointer_event div.bilibili-danmaku,
.__pakku_pointer_event div.b-danmaku {
    background-color: rgba(255,255,0,.6);
}
.__pakku_pointer_event div.bilibili-danmaku:hover,
.__pakku_pointer_event div.b-danmaku:hover {
    background-color: rgba(255,255,0,1);
}
.__pakku_pointer_event .bilibili-player-video-top,
.__pakku_pointer_event .bilibili-player-video-control-mask,
.__pakku_pointer_event .bilibili-player-video-control-wrap,
.__pakku_pointer_event .bilibili-player-video-control,
.__pakku_pointer_event .bilibili-player-video-state,
.__pakku_pointer_event .bilibili-player-dm-tip-wrap {
    display: none !important;
}