# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [lts/*]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        #cache: 'npm'
    - run: npm install
    - run: npm install -g grunt-cli
    - run: npm run build:chrome
    - run: npm run build:firefox
    - run: npm run build:edg
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4.4.3
      with:
        name: extension
        path: dist/*.zip
